<ion-header>
  <ion-toolbar>
    <ion-title>LOGIN</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <from>
  <!--Email-->
  <ion-item lines="full">
    <ion-label position="floating">Email</ion-label>
    <ion-input type="Text"  #email required></ion-input>
  </ion-item>
  <!--Password-->
  <ion-item lines="full">
    <ion-label position="floating">Password</ion-label>
    <ion-input type="Password" #password required></ion-input>
  </ion-item>
  <ion-row>
    <ion-col>
      <ion-button type="submit" (click)="onLogin(email,password)"
      expand="block" >Register</ion-button>
    </ion-col>
  </ion-row>
</from>
<ion-row>
  <ion-col>
    <p>
      <a class="Center-span" routerLink="/forgot-password" >Forgot password</a>
    </p>
  </ion-col>
</ion-row>
<ion-row>
  <ion-col>
    <p>
      <a routerLink="/register">Create</a>
    </p>
  </ion-col>
</ion-row>

</ion-content>
